################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerce.Api/.vs
/ECommerce.Api/bin/Debug/net6.0
/ECommerce.Api/obj
